doctype html 
html 
head 
  title#{title} 
  link(rel='stylesheet',href='/style.css')  
body 
  nav 
    a(href='/')Home
    a(href='/services')Our services
    a(href='/contact')Contact us 
   main 
    block content